@import "tailwindcss";

@theme {
    --font-sans: "Inter", "sans-serif";
    --color-background: #020617;
    --color-surface: #0f172a;
    --color-primary: #3b82f6;
}

@layer base {
    body {
        @apply font-sans bg-[#020617] text-slate-100 antialiased selection:bg-blue-500/30;
    }
}